<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-md-offset-1 col-sm-4">
                    <a href="http://tourappbuilder.com">
                        <img src="img/logos/tourbuddy.png" class="img-responsive img-centered" alt="TourBuddy">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="http://ourskinny.com">
                        <img src="img/logos/oslogo.png" class="img-responsive img-centered" alt="OurSkinny">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="http://kellytours.com">
                        <img src="img/logos/kellytours.png" class="img-responsive img-centered" alt="Kelly Tours">
                    </a>
                </div>
                <div class="col-md-2 col-md-offset-0 col-sm-4 col-sm-offset-2">
                    <a href="http://bluefocusmedia.com">
                        <img src="img/logos/bluefocus.png" class="img-responsive img-centered" alt="Blue Focus">
                    </a>
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="http://bellabag.com">
                        <img src="img/logos/bellabag.png" class="img-responsive img-centered" alt="BellaBag">
                    </a>
                </div>
            </div>
        </div>
    </aside>
