<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Approach</h2>
                    <h3 class="section-subheading text-muted">We build web-based, mobile-responsive applications. Here's how.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-sm-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-map fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Plan</h4>
                    <p class="text-muted text-left">
                      New customer engagements begin with identifying the longterm
                      goals of the organization and any pain points that prevent them
                      from getting there.
                    </p>
                    <p class="text-muted text-left">
                        After that, we build a <strong>Road Map</strong>
                      which describes the functionality needed in each phase of
                      development and begins to lay out an interface for the final
                      product. For complex applications, we'll conduct <strong>Design
                      Sprints</strong> to whiteboard alternatives and choose the
                      best options.
                      </p>
                </div>
                <div class="col-sm-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Build</h4>
                    <p class="text-muted text-left">
                      With experience building applications in a wide variety
                      of web frameworks and open standards, we choose the best
                      tool for each job.
                    </p>

                    <p class="text-muted text-left">We stay in close contact with clients
                      throughout the engagement to ensure that we're building
                      tools that works the way our customer need them to. In many
                      cases, we can provide fixed pricing which allows our customers
                      to plan and budget with confidence.
                    </p>
                </div>
            </div>
        </div>
    </section>
