/* default.html */

.img-shrink {
  height: auto;
  max-height: 50px;
  max-width: 200px;
  width: 100%;
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.modal .container li {
  text-align: left;
}