{% include css/bootstrap.min.css %}
{% include css/agency.css %}

.post .post-content p{
  font-size: 1.15em;
}

.post .post-content p,
.post .post-content h3{
  width: 90%;
  margin: auto;
}

.post .post-content h1,
.post .post-content h2{
  margin: 10px auto;
  width: 100%;
  text-align: center;
}

.post .post-content h2{
  color: grey;
  font-size: 1.5em;
  margin-top: -10px;
}

.post .post-content blockquote{
  float: none;
  margin: auto;
  margin-top: 25px;
  width: 80%;
}

.post .post-content .highlight,
.post .post-content .img-responsive.centered-img,
.post .post-content .img-responsive.bordered-img{
  width: 80%;
  margin: auto;
}

.post .post-content .img-responsive.tall.centered-img{
  width: 30%;
}

.post .post-content .img-responsive.bordered-img{
  border: solid 1px grey;
}
